<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dados de cadastro BoletoSimples</title>
</head>

<body>
  <div>
    <h3>{{name}},</h3>
    <p>O síndico do Condomínio {{condominio}} cadastrou os dados de boleto:</p>
    <br>
    <p><strong>Endereço:</strong> {{enderecoCep}}</p>
    <p><strong>CNPJ:</strong> {{cnpj}}</p>
    <p><strong>Banco:</strong> {{banco}}</p>
    <p><strong>Agência:</strong> {{agencia}}</p>
    <p><strong>Conta:</strong> {{conta}}</p>
    <p><strong>Carteira:</strong> {{carteira}}</p>
    <p><strong>Próximo Nosso Número:</strong> {{numeroBoleto}}</p>
    <p style="{{displayRem}}"><strong>{{remessaLabel}} (Convênio de Remessa):</strong> {{convenio}}</p>
    <p style="{{displayCon}}"><strong>{{convenioLabel}} (Convênio de Boleto):</strong> {{numeroConvenio}}</p>
    <br>
  </div>
</body>

</html>
